<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>UnderWriter | Update Details</title>
    <link href="{% static 'assets/img/favicon.png' %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/datatables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo" href="{% url 'underwriter' %}">
                <img alt="Logo" src="{% static 'assets/img/logo.png' %}">
            </a>
            <a class="logo logo-small" href="{% url 'underwriter' %}">
                <img alt="Logo" height="30" src="{% static 'assets/img/logo-small.png' %}" width="30">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>
        <div class="top-nav-search">
            <form>
                <input class="form-control" placeholder="Kërko" type="text">
                <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Njoftime</span>
                        <a class="clear-noti" href="javascript:void(0)"> Fshi të gjitha </a>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="#">Shiko të gjitha njoftimet</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                   <span class="user-img">
                        <img alt="Ryan Taylor" class="rounded-circle" src="{% static 'assets/img/logo/dk-photography-logo.png' %}"
                             width="31">
                   </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img alt="User Image" class="avatar-img rounded-circle"
                                 src="{% static 'assets/img/logo/dk-photography-logo.png' %}">
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="user-text">
                            <h6>{{user.first_name}}</h6>
                            <p class="text-muted mb-0">Partner</p>
                        </div>
                        {% endif %}
                    </div>
                    <a class="dropdown-item" href="{% url 'am-profile' %}">Profili</a>
                    <a class="dropdown-item" href="{% url 'change-uw-password' user.id %}">Ndrysho fjalekalimin</a>
                    <a class="dropdown-item" href="#">Mesazhe</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Dil</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu" id="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span style="text-transform: uppercase">Menuja Kryesore</span>
                     </li>
                     <li class="sub-menu">
                         <a href="{% url 'underwriter' %}">
                             <i class="fas fa-home"></i>
                             <span>Dashboard</span>
                         </a>
                     </li>
                     <li class="submenu">
                         <a href="#">
                             <i class="fas fa-school"></i>
                             <span>Aplikimet</span>
                             <span class="menu-arrow"></span>
                         </a>
                         <ul>
                             <li>
                                 <a href="{% url 'prelead-list' %}">Lista e Aplikimeve</a>
                             </li>
                         </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Përditëso Të Dhënat Personale</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'uw-profile' %}">Profili</a></li>
                            <li class="breadcrumb-item active">Përditëso  të dhënat</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="{% url 'update-uw-profile' user.id %}" method="POST">
                                {% csrf_token %}
                                 <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Të Dhënat Personale</span></h5>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group" style="padding-top: 6px">
                                            <label>Username</label>
                                            <input class="form-control" value="{{user.username }}" required type="text" name="username">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group" style="padding-top: 6px">
                                            <label>Email</label>
                                            <input class="form-control" value="{{user.email }}" required type="email" name="email">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-primary" type="submit" name="update_profile"><i class="fa fa-check"></i>
                                                Përditëso të Dhënat
                                            </button>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p align="center">Të gjitha të drejtat të rezervuara © 2022 Noa.</p>
        </footer>
    </div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>