{% if request.user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>NOA | Partneret</title>
    <link href="{% static 'assets/img/favicon.png' %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/datatables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo" href="#">
                <img alt="Logo" src="https://noa-hub.com/">
            </a>
            <a class="logo logo-small" href="#">
                <img alt="Logo" height="30" src="https://noa-hub.com/" width="30">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Njoftime</span>
                        <a class="clear-noti" href="javascript:void(0)"> Fshi të gjitha </a>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="#">Shiko të gjitha njoftimet</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                   <span class="user-img">
                        <img alt="Ryan Taylor" class="rounded-circle" src="{% static 'assets/img/profiles/user_profile.webp' %}" width="31">
                   </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img alt="User Image" class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/user_profile.webp' %}">
                        </div>
                        <div class="user-text">
                            
                            <h6>{{request.user.first_name}}</h6>
                            <p class="text-muted mb-0">Partner</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="{% url 'myprofile' %}">Profili</a>
                    <a class="dropdown-item" href="#">Njoftime</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Dil</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu" id="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span style="text-transform: uppercase">Menuja Kryesore</span>
                    </li>
                    <li>
                        <a href="{% url 'partner' %}">
                            <i class="fas fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-users"></i>
                            <span>Klientët</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'new-application' %}">Krijo Aplikim të ri</a>
                            </li>
                            <li>
                                <a href="{% url 'customers-list' %}">Lista e Klientëve</a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-clipboard"></i>
                            <span>Aplikimet</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'new-application' %}">Krijo Aplikim të ri</a>
                            </li>
                            <li>
                                <a href="{% url 'preleads-list' %}">Lista e Aplikimeve</a>
                            </li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-clipboard-list"></i>
                            <span>Produktet</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'products-list' %}">Lista e Produkteve</a>
                            </li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Klientët</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'partner' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Lista e Klientëve</li>
                        </ul>
                    </div>
                    <div class="col-auto text-end float-end ms-auto">
                        <a class="btn btn-outline-primary me-2" href="#"><i class="fas fa-download"></i> Shkarko</a>
                        <a class="btn btn-primary" href="{% url 'new-application' %}">Aplikim i ri <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead style="text-align: center; background-color: #ebebff ">
                                    <tr class="text-center">
                                        <th class="text-center">Nr.</th>
                                        <th class="text-center">Emri</th>
                                        <th class="text-center">Mbiemri</th>
                                        <th class="text-center">Nr. ID</th>
                                        <th class="text-center">Datelindja</th>
                                        <th class="text-center">Nr. tel</th>
                                        <th class="text-center">Statusi</th>
                                        <th class="text-center">Consent BOA</th>
                                        <th class="text-center">Veprime</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for customer in customers %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        
                                        <td class="text-center">{{ customer.first_name }}</td>
                                        
                                        <td class="text-center">{{ customer.last_name }}</td>
                                       
                                        <td class="text-center">{{ customer.personal_id }}</td>
                                        
                                        <td class="text-center">{{ customer.birthdate }}</td>

                                        <td class="text-center">{{ customer.mobile }}</td>

                                        <td class="text-center">{{ customer.status }}</td>

                                        <td class="text-center">{{ customer.consent_boa }}</td>
                                        
                                        <td class="text-center">
                                            <div class="actions">
                                                <a class="btn btn-sm bg-success-light me-2" href="#" title="Modifiko">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a class="btn btn-sm bg-danger-light" href="#" title="Fshi">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Të gjitha të drejtat të rezervuara © 20222 Noa .</p>
        </footer>
    </div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>

{% else %}

<h3> Ju nuk jeni i autorizuar per kete faqe !</h3>
<h3>Ju lutem logohuni ketu: <a href="{% url 'login'%}"> Login</a></h3>


{% endif %}
